/*!
 * bootScore custom colors
 */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

/*--------------------------------------------------------------
# DEFAULT SLICK STYLES
--------------------------------------------------------------*/
.ce-services-cards .slick-arrow {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  color: black;
  font-size: 22px;
  cursor: pointer;
  background: transparent;
  outline: none !important;
  transition: all 0.25s ease-in;
}
.ce-services-cards .slick-arrow:hover,
.ce-services-cards .slick-arrow:focus {
  color: #83d9ff;
}
.ce-services-cards .slick-prev {
  left: -8px;
}
.ce-services-cards .slick-next {
  right: -8px;
}

.ce-service-cards-slide {
  transition: all 0.2s ease-in-out;
}
.ce-service-cards-slide.slick-current .ce-service-cards-slide-card {
  box-shadow: 14px 17px 18px -12px rgba(0, 0, 0, 0.1);
}
.ce-service-cards-slide:hover {
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .ce-service-cards-slide:hover {
    transform: scale(1.03);
  }
}

.ce-service-cards-slide-card {
  min-height: 300px;
}

.services-slide-text-container {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 145px;
}
@media only screen and (min-width: 768px) {
  .services-slide-text-container {
    min-height: 100px;
  }
}
@media only screen and (min-width: 1024px) {
  .services-slide-text-container {
    min-height: 80px;
  }
}

.ce-services-descriptions {
  background-color: #dadada;
}

.ce-service-cards-slide {
  position: relative;
}
.ce-service-cards-slide.slick-current::after {
  content: "";
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #dadada;
  border-left: 20px solid transparent;
  left: 45%;
  bottom: 0px;
  position: absolute;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .ce-slide-funnels-content-container {
    padding: 1em;
    columns: 2;
  }
  .ce-slide-funnels-content-container div {
    break-inside: avoid-column;
  }
}
