/*!
 * bootScore custom styles
 */
body {
  background: #f1f1f1 url(../../assets/images/bg_pattern.jpg);
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1, h2, h3, h4, h5 {
  font-weight: 700;
  margin-bottom: 0.85em;
}

h1 {
  margin-bottom: 0.5em;
}

.btn {
  font-weight: 700;
}

/* scripts page */
.scripts ul {
  list-style: none;
  margin-bottom: 0;
  padding-inline-start: 0.75em;
}

.podcast-desc-logo {
  max-width: 99%;
  margin-bottom: 1em;
}

.podcast_meta {
  margin-top: 0.75em;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
#bootscore-navbar, .top-nav-widget-2 {
  font-weight: 700;
}

.navbar {
  transition: all 0.25s;
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.top-nav-widget-2 a:focus li,
#bootscore-navbar li {
  display: block;
}

.top-nav-widget-2 a:not(.btn) {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  #bootscore-navbar li {
    display: flex;
    align-items: center;
  }
  .top-nav-widget-2 a:not(.btn) {
    display: inline;
    width: auto;
  }
}
.navbar li a,
.navbar li a {
  color: #173751;
}
.navbar li a:hover, .navbar li a:focus, .navbar li a:active, .navbar li a.show,
.navbar li a:hover,
.navbar li a:focus,
.navbar li a:active,
.navbar li a.show {
  color: #173751 !important;
}

@media only screen and (min-width: 1024px) {
  /* desktop link text */
  .top-nav-widget-2 a:not(.btn),
  .navbar-dark li a,
  .navbar-dark li a {
    color: white;
    padding: 0;
    margin: 0 0.85em 0 0.35em;
  }
  .top-nav-widget-2 a:not(.btn):hover, .top-nav-widget-2 a:not(.btn):focus, .top-nav-widget-2 a:not(.btn):active,
  .navbar-dark li a:hover,
  .navbar-dark li a:focus,
  .navbar-dark li a:active,
  .navbar-dark li a:hover,
  .navbar-dark li a:focus,
  .navbar-dark li a:active {
    color: #6dcefb !important;
  }
}
/* change hover color */
.navbar-dark li a:focus,
.navbar-dark li a:hover {
  color: #6dcefb;
}

/* customize header bootstrap button colors */
.header-actions .btn-outline-secondary {
  border: 1px solid #abadaf;
  color: #abadaf;
}
.header-actions .btn-outline-secondary:hover {
  color: white;
}

/* remove focus ring in safari on drop-down click */
li:focus-within a {
  outline: none;
}

@media only screen and (min-width: 1024px) {
  /* dropdown menu */
  .navbar-nav > li > .dropdown-menu {
    /*fix background color*/
    background-color: #212529;
    border: 0;
    padding: 0.5em 0.5em 0.75em;
    margin: 1em 0 0 0;
    border-radius: 0;
  }
  .dropdown-item {
    font-weight: 700;
    color: #6dcefb;
    padding-left: 0.5em;
  }
  .dropdown-item:hover {
    background-color: transparent;
  }
}
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.page-tabs {
  clear: both;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.ce-footer {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(43, 43, 43) 100%);
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

#menu-footer-social-media li a {
  color: white;
  font-size: 1.5em;
  transition: all 0.25s ease-out;
}
#menu-footer-social-media li a:hover {
  color: #6dcefb;
}

.ce-footer a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.25s ease-out;
}
.ce-footer a:hover {
  color: #6dcefb;
}
.ce-footer .sub-menu {
  padding-top: 1em;
}
.ce-footer .sub-menu a {
  font-weight: 400;
}

.footer-art {
  border-top: 5px solid #edaf1b;
  background-position: top center;
  background-size: cover;
  min-height: 200px;
}
@media only screen and (min-width: 1200px) {
  .footer-art {
    min-height: 400px;
  }
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

/*--------------------------------------------------------------
# DEFAULT SLICK STYLES
--------------------------------------------------------------*/
.slick-arrow {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  color: #83d9ff;
  font-size: 30px;
  cursor: pointer;
  background: transparent;
  outline: none !important;
}

.slick-arrow:hover,
.slick-arrow:focus {
  color: #83d9ff;
}

.slick-prev {
  left: -20px;
}

.slick-next {
  right: -20px;
}

/*--------------------------------------------------------------
# SLIDER STYLES STYLES
--------------------------------------------------------------*/
