/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

body {
    background: #f1f1f1 url(../../assets/images/bg_pattern.jpg);
    //background: white;
  }

.container {
max-width: 1300px;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

h1, h2, h3, h4, h5 {
    font-weight: 700;
    margin-bottom: .85em;
}

h1 {
    margin-bottom: .5em;
}

.btn {
    font-weight: 700;
}

/* scripts page */
.scripts ul {
    list-style: none;
    margin-bottom: 0;
    padding-inline-start: 0.75em;
 }
  
.podcast-desc-logo {
    max-width: 99%;
    margin-bottom: 1em;
}

.podcast_meta {
    margin-top: 0.75em;
}

a {
    text-decoration: none;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

#bootscore-navbar, .top-nav-widget-2 {
    font-weight: 700;
}

.navbar {
    transition: all .25s;
}

.navbar-transparent {
    background-color: rgba(0,0,0,0);  
}

.top-nav-widget-2 a:focus,

/* off-canvas styling */

#bootscore-navbar {
    li {
        display: block;
    }
}

.top-nav-widget-2 a:not(.btn) {
    display: block;
    width: 100%;
}


@media only screen and (min-width: 1024px) {
    #bootscore-navbar {
        li {
            display: flex;
            align-items: center;
        }
    }
    
    .top-nav-widget-2 a:not(.btn) {
        display: inline;
        width: auto;
    }
}

.navbar li a,
.navbar li a {
    color: $ce-darkblue;

    &:hover, &:focus, &:active, &.show {
        color: $ce-darkblue !important;
    }
}

@media only screen and (min-width: 1024px) {
   /* desktop link text */
    .top-nav-widget-2 a:not(.btn),
    .navbar-dark li a,
    .navbar-dark li a {
        color: white;
        padding: 0;
        margin: 0 0.85em 0 0.35em;

        &:hover, &:focus, &:active {
            color: $ce-iceblue !important;
        }
    }
    
}

/* change hover color */
.navbar-dark li a:focus,
.navbar-dark li a:hover {
  color: $ce-iceblue;
}

/* customize header bootstrap button colors */
.header-actions 
    .btn-outline-secondary {
        border: 1px solid #abadaf;
        color: #abadaf;

        &:hover {
            color: white;
        }
}

/* remove focus ring in safari on drop-down click */
li:focus-within a {
    outline: none;
}
  
@media only screen and (min-width: 1024px) {
  /* dropdown menu */
  .navbar-nav > li > .dropdown-menu {
    /*fix background color*/
    background-color: #212529;
    border: 0;
    padding: .5em .5em .75em;
    margin: 1em 0 0 0;
    border-radius: 0;
  }
  
  .dropdown-item {
    font-weight: 700;
    color: $ce-iceblue;
    padding-left: 0.5em;

    &:hover {
        background-color: transparent;
    }
  }
}

.dropdown-item {
    &.active {
     background-color: transparent;
    }
}
  

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

.page-tabs {
    clear: both;
}

.has-triangle {
    position: relative;
}



.has-triangle::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-bottom: solid 15px white;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}

.has-triangle {
    &.top::after {
        bottom: unset;
        top: 0;
        border-bottom: solid 0px white;
        border-top: solid 15px white;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.ce-footer {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(25,25,25,1) 100%);
    color: white;
    border-top: 1px solid rgba(255,255,255,0.25);
}

#menu-footer-social-media li a {
    color: white;
    font-size: 1.5em;
    transition: all .25s ease-out;

    &:hover {
        color: $ce-iceblue;
    }
}

.ce-footer {
    
    a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 700;
        transition: all .25s ease-out;

        &:hover {
            color: $ce-iceblue;
        }
    }

    .sub-menu {
        padding-top: 1em;

        a {
            font-weight: 400;
        }
        
    }
}

.footer-art {
    border-top: 5px solid $ce-orange;
    background-position: top center;
    background-size: cover;
    min-height: 200px;

    @media only screen and (min-width: 1200px) {
        min-height: 400px;
    }
}