/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

$ce-blue: #83d9ff;
$ce-darkblue: #173751;
$ce-mediumblue: #1e80ae;
$ce-lightblue: #4ba2d7;
$ce-iceblue: #6dcefb;
$ce-orange: #edaf1b;
$ce-grey: #b8b7b7;
$ce-lightgrey: #ccc9c9;
$ce-offwhite: #e8e4e4;
$ce-green: #77a464;
$ce-darkgray: #212529;


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.navbar {
    transition: all .25s;
}

.navbar-transparent {
    background-color: rgba(0,0,0,0);  
}

/* link text */
.navbar-dark li a,
.navbar-dark li a {
  color: white;
  padding: 0;
  margin: 0 0.85em 0 0.35em;
}

/* change hover color */
.navbar-dark li a:focus,
.navbar-dark li a:hover {
  color: $ce-iceblue;
}



/*--------------------------------------------------------------
# WooCommerce
--------------------------------------------------------------*/

.shipping-text {
    display: none;
}


/*--------------------------------------------------------------
# Gravity Forms
--------------------------------------------------------------*/

.gform_wrapper form {
    margin-bottom: 0;
  }
  
  .gform_wrapper ul {
    @extend .list-unstyled;
  }
  
  .gform_wrapper .gfield_required {
    padding-left: 1px;
    color: $danger;
  }
  
  .gform_wrapper input[type="email"],
  .gform_wrapper input[type="date"],
  .gform_wrapper input[type="datetime"],
  .gform_wrapper input[type="datetime-local"],
  .gform_wrapper input[type="month"],
  .gform_wrapper input[type="number"],
  .gform_wrapper input[type="password"],
  .gform_wrapper input[type="search"],
  .gform_wrapper input[type="tel"],
  .gform_wrapper input[type="text"],
  .gform_wrapper input[type="time"],
  .gform_wrapper input[type="week"],
  .gform_wrapper input[type="url"],
  .gform_wrapper select,
  .gform_wrapper textarea {
    @extend .form-control;
  }
  
  .gform_wrapper .button {
    @extend .btn;
    @extend .btn-success;
  }
  
  .gform_wrapper .gfield_error {
    .gfield_label {
      @extend .alert-danger;
    }
  
    input,
    select,
    textarea {
      @extend .alert-danger;
    }
  }
  
  .validation_error {
    @extend .alert;
    @extend .alert-danger;
  }
  
  .validation_message {
    display: none;
  }
  
  .ginput_container {
    display: flex;
    justify-content: space-between;
  }
  
  .name_first,
  .name_last {
    width: 48%;
  }

  .hidden_label {
    label {
        display: none !important;
    }
  }

  .ginput_container {
    margin-bottom: 12px;
  }

  .gform-button--width-full {
    width: 100%;
  }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.ce-footer {
    background: #000;
    color: white;
    border-top: 1px solid rgba(255,255,255,0.25);
}

#menu-footer-social-media li a {
    color: white;
    font-size: 2em;
}

.ce-footer a {
    color: $ce-iceblue;
    text-decoration: none;
  }