/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

$ce-blue: #83d9ff;
$ce-darkblue: #173751;
$ce-mediumblue: #1e80ae;
$ce-lightblue: #4ba2d7;
$ce-iceblue: #6dcefb;
$ce-orange: #edaf1b;
$ce-grey: #b8b7b7;
$ce-lightgrey: #ccc9c9;
$ce-offwhite: #e8e4e4;
$ce-green: #77a464;
$ce-darkgray: #212529;


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.navbar {
    transition: all .25s;
}

.navbar-transparent {
    background-color: rgba(0,0,0,0);  
}

/* link text */
.navbar-dark li a,
.navbar-dark li a {
  color: white;
  padding: 0;
  margin: 0 0.85em 0 0.35em;
}

/* change hover color */
.navbar-dark li a:focus,
.navbar-dark li a:hover {
  color: $ce-iceblue;
}

#bootscore-navbar li {
    display: flex;
    align-items: center;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.ce-footer {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%);
    color: white;
    border-top: 1px solid rgba(255,255,255,0.25);
}

#menu-footer-social-media li a {
    color: white;
    font-size: 1.5em;
    transition: all .25s ease-out;

    &:hover {
        color: $ce-iceblue;
    }
}

.ce-footer {
    
    a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 700;
        transition: all .25s ease-out;

        &:hover {
            color: $ce-iceblue;
        }
    }

    .sub-menu {
        padding-top: 1em;

        a {
            font-weight: 400;
        }
        
    }
}

.footer-art {
    border-top: 5px solid $ce-orange;
    background-position: center center;
    background-size: cover;
    min-height: 200px;
}