.ld-focus-content, .ld-in-focus-mode .learndash-wrapper {
    background: #f1f1f1 url(../../assets/images/bg_pattern.jpg) !important;
}

.ld-course-status-seg-price {
    display: none;
}

.woocommerce-MyAccount-content {
    .learndash-wrapper {
        .ld-item-list {
            margin-top: 0;
        }
    }
}

/* hide pointless back to course button */
.learndash-wrapper .ld-content-actions .ld-content-action .ld-course-step-back {
    display: none !important;
}



.learndash-course-grid .items-wrapper .grid-2 .content .entry-content {
    padding-bottom: 1.75em;
}

.learndash-course-grid .items-wrapper .grid-2 .ribbon {
    text-shadow: none;
}

/* c=make course list look nicer */

.ld-item-list {
    .ld-item-list-item {
        border: 1px solid #e2e7ed !important;
    }
} 

.ld-status-icon {
    margin-top:  0 !important;
    border: 1px solid #e2e7ed !important;
}
