.ld-focus-content, .ld-in-focus-mode .learndash-wrapper {
    background: #f1f1f1 url(../../assets/images/bg_pattern.jpg) !important;
}

.ld-course-status-seg-price {
    display: none;
}

.woocommerce-MyAccount-content {
    .learndash-wrapper {
        .ld-item-list {
            margin-top: 0;
        }
    }
}

/* hide pointless back to course button */
.learndash-wrapper .ld-content-actions .ld-content-action .ld-course-step-back {
    display: none !important;
}

/* equal height learndash course grid columns, hopefully */
.learndash-course-grid .items-wrapper .grid-2 .post {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Remove this if you don't want the "See more..." button aligned to bottom of each Course Grid item */
.learndash-course-grid .items-wrapper .grid-2 .post {
    justify-content: space-between;
}
