body {
    &.buddypress {
        .entry-header {
            display: none;
        }

        .avatar-50 {
            max-width: 50px;
            max-height: 50px;
        }

        #header-cover-image {
            background-color: rgba(64,94,170,1);
            width: calc(100% + 3.5rem) !important;
            margin-left: -1.75rem !important;
            //background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(64,94,170,1) 100%);
        }

        /* overwrite buddypress max width styles that break bootstrap layout */
        #page, #primary {
            max-width: unset !important;

            &.container {
                max-width: $max-width !important;
            }
        }

        #member-secondary-nav li a {
            font-size: .75em;
            padding: 5px 16px;
        }

        .buddypress-wrap {
            .generic-button {
                a {
                    @extend .btn;
                    @extend .btn-primary;
                }
            }
        }

        input[type="submit"]#aw-whats-new-submit, .join-group {
            @extend .btn;
            @extend .btn-success; 
        }

        input[type="button"], input[type="submit"], input[type="submit"]#submit, .leave-group {
            @extend .btn;
            @extend .btn-primary;
        }

        #bbp-topic-search-form > div {
            display: flex;

            input[type="submit"]#bbp_search_submit {
                @extend .btn;
                @extend .btn-primary;
                margin-left: 6px;
            }
        }

        input[type="reset"]#aw-whats-new-reset {
            @extend .btn;
        }

        input[type=text], input[type=search], textarea#whats-new {
            @extend .form-control;
        }

        select, #activity-filter-by {
            @extend .form-select;
        }

        .activity-update-form {
            border: 0px;
            box-shadow: none;
        }

        /* fix really gross activity filter styles */
        .buddypress-wrap {
            select {
                max-width: 500px !important;
            }

            #activity-filter-by {
                margin-right: 15px;
            }

            .select-arrow {
                display: none;
            }
            
            .select-wrap {
                border: 0px;
            }
        }

        #whats-new-textarea {
            padding-left: 12px;
        }

        /* groups fixes */
        span {
            &.count {
                width: 24px;
                height: 24px;
            }
        }

        .single-headers {
            #item-header-content {
                padding-left: 0;
            }

        }

        .groups-header {
            div {
                &#item-header-content {
                    margin-left: 0;
                }
            }
        }

        .subnav-filters > ul {
            padding-left:  0;
        }

        .feed {
            display: none;
        }

        .activity-list {
            .activity-item {
                border: 0px !important;

                div {
                    &.item-avatar {
                        width: 50px;
                        padding-left: 12px;
                        margin: 0 0 16px;
                    }
                }
            }
        }

        img.avatar {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            -webkit-box-shadow: 0 1px 0 #fff;
            -moz-box-shadow: 0 1px 0 #fff;
            box-shadow: 0 1px 0 #fff;
            }
    }
}