@import "../_bscore_colors.scss";  // Collecting Bootstrap source from parent-theme

//equal height slider divs
.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}

/*--------------------------------------------------------------
# DEFAULT SLICK STYLES
--------------------------------------------------------------*/
.ce-services-cards {
    .slick-arrow {
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 1;
        color: black;
        font-size: 22px;
        cursor: pointer;
        background: transparent;
        outline: none !important;
        transition: all 0.25s ease-in;
    }
    
    .slick-arrow:hover,
    .slick-arrow:focus {
        color: $ce-blue;
    }

    .slick-prev {
        left: -8px;
    }
    
    .slick-next {
        right: -8px;
    }

}

//slider styles

.ce-service-cards-slide {
    transition: all .2s ease-in-out;

    &.slick-current {
        .ce-service-cards-slide-card {
            box-shadow: 14px 17px 18px -12px rgba(0,0,0,0.1);
        }
    }

    &:hover {
        cursor: pointer;
       
        @media only screen and (min-width: 1024px) {
            transform: scale(1.03);
        }
    }
}

.ce-service-cards-slide-card {
    min-height: 300px;
}

.services-slide-text-container {
    background-color: rgba(0,0,0,0.6);
    min-height: 145px;

    @media only screen and (min-width: 1024px) {
        min-height: 80px;
    }
}

.ce-services-descriptions {
    //background-color: $gray-300;
    background-color: $ce-verylightgrey;
}

.ce-service-cards-slide {
    position: relative;

    &.slick-current::after {
        content: "";
        //width: 30px;
        //height: 30px;
        //background:white url('../../../assets/images/triangle-darker.svg');
        border-top: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid $ce-verylightgrey;
        border-left: 20px solid transparent;
        left: 45%;
        bottom: 0px;
        position: absolute;
        display: inline-block;
    }
}

@media only screen and (min-width: 768px) {
    .ce-slide-funnels-content-container {
        padding: 1em;
        columns: 2;
        
        div {
            break-inside: avoid-column;
        }
    }
}


