@import "../../../../bootscore-main/scss/bootstrap/bootstrap";  // Collecting Bootstrap source from parent-theme

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}

.ce-services-descriptions {
    background-color: $gray-100;
}