@import "../_bscore_colors.scss";  // Collecting Bootstrap source from parent-theme


.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}

/*--------------------------------------------------------------
# DEFAULT SLICK STYLES
--------------------------------------------------------------*/

.slick-arrow {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    //color: $ce-blue;
    color: white;
    font-size: 30px;
    cursor: pointer;
    background: transparent;
    outline: none !important;
    transition: all 0.25s ease-in;
  }
  
  .slick-arrow:hover,
  .slick-arrow:focus {
    color: $ce-blue;
  }
  
  .slick-prev {
    left: -20px;
  }
  
  .slick-next {
    right: -20px;
  }

/*--------------------------------------------------------------
# OTHER STYLES
--------------------------------------------------------------*/

.spotlight-card {
    background-color: rgba(0,0,0,0) !important;

    img {
        transition: all .25s ease-in;
        transform: scale(0.75);
    }
    
    h3, p {
        transition: all .25s ease-in;
        opacity: 0;
    }
}

.slick-current {
    .spotlight-card {
        img {
            transform: scale(0.9);
        }

        h3, p {
            opacity: 1;
        }
    }
}