@import "../_bscore_colors.scss";  // Collecting Bootstrap source from parent-theme

.hero-block-container {
    padding: 3rem 0 5rem !important;

    @media only screen and (min-width: 1024px) {
        padding: 6rem 0 7rem !important;
    }

    @media only screen and (min-width: 1350px) {
        padding: 6rem 0 14rem !important;
    }

    .tribe-events-widget-events-week {
        padding-bottom: .5rem !important;
    }

    .tribe-events-pro-week-day-selector__day-weekday, .tribe-events-pro-week-day-selector__day-daynum, .tribe-events-pro-week-mobile-events__event-time-separator-text, .tribe-events-pro-week-mobile-events__event-datetime-wrapper, .tribe-events-pro-week-mobile-events__event-title-link {
        color: white !important;
    }

    .tribe-events-c-top-bar__nav-list-date {
        font-size: .5em !important;
    }

    .tribe-events-widget-events-week__view-more {
        margin-top: .0 !important;
    }

    .tribe-events-widget-events-week__view-more-link {
        color: $ce-iceblue !important;
    }

    .tribe-common-anchor-thin {
        &:hover {
            text-decoration: none !important;
        }
    }
}

