@import "../_bscore_custom.scss";  // Collecting Bootstrap source from parent-theme


.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}

/*--------------------------------------------------------------
# DEFAULT SLICK STYLES
--------------------------------------------------------------*/

.slick-arrow {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    color: $ce-blue;
    font-size: 30px;
    cursor: pointer;
    background: transparent;
    outline: none !important;
  }
  
  .slick-arrow:hover,
  .slick-arrow:focus {
    color: $ce-blue;
  }
  
  .slick-prev {
    left: -20px;
  }
  
  .slick-next {
    right: -20px;
  }

/*--------------------------------------------------------------
# SLIDER STYLES STYLES
--------------------------------------------------------------*/

