/*!
 * bootScore custom colors
 */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

/*--------------------------------------------------------------
# DEFAULT SLICK STYLES
--------------------------------------------------------------*/
.ce-images-slider-cards .slick-arrow {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  color: black;
  font-size: 22px;
  cursor: pointer;
  background: transparent;
  outline: none !important;
  transition: all 0.25s ease-in;
}
.ce-images-slider-cards .slick-arrow:hover,
.ce-images-slider-cards .slick-arrow:focus {
  color: #83d9ff;
}
.ce-images-slider-cards .slick-prev {
  left: -8px;
}
.ce-images-slider-cards .slick-next {
  right: -8px;
}

.ce-images-slider-card {
  transition: all 0.2s ease-in-out;
}
.ce-images-slider-card.slick-current .ce-images-slider-card-slide {
  box-shadow: 14px 17px 18px -12px rgba(0, 0, 0, 0.1);
}
.ce-images-slider-card:hover {
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .ce-images-slider-card:hover {
    transform: scale(1.03);
  }
}

.ce-service-cards-slide-card {
  min-height: 300px;
}
