/*!
 * bootScore custom colors
 */
.slick-track {
  display: flex !important;
}

.slick-track .slick-slide {
  display: flex !important;
  height: auto !important;
}

/*--------------------------------------------------------------
# DEFAULT SLICK STYLES
--------------------------------------------------------------*/
.hero-slider {
  background-color: rgb(0, 0, 0);
}
.hero-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  color: white;
  font-size: 18px;
  cursor: pointer;
  background: transparent;
  outline: none !important;
  transition: all 0.25s ease-in;
}
.hero-slider .slick-arrow:hover,
.hero-slider .slick-arrow:focus {
  color: #83d9ff;
}
.hero-slider .slick-prev {
  left: 20px;
}
.hero-slider .slick-next {
  right: 20px;
}
@media only screen and (min-width: 1024px) {
  .hero-slider .slick-prev {
    left: 50px;
  }
  .hero-slider .slick-next {
    right: 50px;
  }
  .hero-slider .slick-arrow {
    font-size: 30px;
  }
}

/*--------------------------------------------------------------
# SLIDE STYLES
--------------------------------------------------------------*/
.hero-block-content-container {
  padding: 1rem 1.25rem 3rem !important;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 768px) {
  .hero-block-content-container {
    padding: 0.5rem 1.75rem 3rem !important;
  }
}
.hero-block-content-container .tribe-events-widget-events-week {
  padding-bottom: 0.5rem !important;
}
.hero-block-content-container .tribe-events-pro-week-day-selector__day-weekday, .hero-block-content-container .tribe-events-pro-week-day-selector__day-daynum, .hero-block-content-container .tribe-events-pro-week-mobile-events__event-time-separator-text, .hero-block-content-container .tribe-events-pro-week-mobile-events__event-datetime-wrapper, .hero-block-content-container .tribe-events-pro-week-mobile-events__event-title-link {
  color: white !important;
}
.hero-block-content-container .tribe-events-c-top-bar__nav-list-date {
  font-size: 0.5em !important;
}
.hero-block-content-container .tribe-events-widget-events-week__view-more {
  margin-top: 0 !important;
}
.hero-block-content-container .tribe-events-widget-events-week__view-more-link {
  color: #6dcefb !important;
  transition: all 0.25s !important;
}
.hero-block-content-container .tribe-events-widget-events-week__view-more-link:hover {
  color: white !important;
}
.hero-block-content-container .tribe-events-pro-week-day-selector__day--active {
  border-color: #6dcefb !important;
}
.hero-block-content-container .tribe-events-pro-week-day-selector__events-icon {
  background-color: #6dcefb !important;
}
.hero-block-content-container .tribe-common-anchor-thin:hover, .hero-block-content-container .tribe-common-anchor-thin:active, .hero-block-content-container .tribe-common-anchor-thin:focus {
  border-bottom: 0px !important;
}
.hero-block-content-container .tribe-events-pro-week-mobile-events__event-featured-image-wrapper {
  display: none !important;
}
