/*!
 * bootScore custom colors
 */

$ce-blue: #83d9ff;
$ce-darkblue: #173751;
$ce-mediumblue: #1e80ae;
$ce-lightblue: #4ba2d7;
$ce-iceblue: #6dcefb;
$ce-orange: #edaf1b;
$ce-grey: #b8b7b7;
$ce-lightgrey: #ccc9c9;
$ce-verylightgrey: #dadada;
$ce-offwhite: #e8e4e4;
$ce-green: #77a464;
$ce-darkgray: #212529;