/*!
 * bootScore custom colors
 */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

/*--------------------------------------------------------------
# DEFAULT SLICK STYLES
--------------------------------------------------------------*/
.slick-arrow {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  color: white;
  font-size: 30px;
  cursor: pointer;
  background: transparent;
  outline: none !important;
  transition: all 0.25s ease-in;
}

.slick-arrow:hover,
.slick-arrow:focus {
  color: #83d9ff;
}

.slick-prev {
  left: -20px;
}

.slick-next {
  right: -20px;
}

/*--------------------------------------------------------------
# OTHER STYLES
--------------------------------------------------------------*/
.spotlight-card {
  background-color: rgba(0, 0, 0, 0) !important;
}
.spotlight-card img {
  transition: all 0.25s ease-in;
  transform: scale(0.75);
}
.spotlight-card h3, .spotlight-card p {
  transition: all 0.25s ease-in;
  opacity: 0;
}

.slick-current .spotlight-card img {
  transform: scale(1);
}
.slick-current .spotlight-card h3, .slick-current .spotlight-card p {
  opacity: 1;
}
