body {
	word-wrap: break-word;
}

.hidden {
	display: none;
}


/* Wordpress styles */
@media screen and (min-width: 768) {
	.alignright {
		float: right;
		margin: 0 0 0 16px;
	}

	.alignleft {
		float: left;
		margin: 0 16px 0 0;
	}

	.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.alignfull {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	width: auto;
}

[type='text'],
[type='password'] {
	height: 2.48rem;
}

/* Buttons */

.edit-link {
	margin-bottom: 0;

	.button {
		margin-bottom: 0;
		margin-top: 16px;
	}
}

.wp-block-button {
	margin-bottom: 16px;
}

.screen-reader-text {
	border: 0;
  	clip-path: inset(50%);
  	height: 1px;
  	margin: -1px;
  	overflow: hidden;
  	padding: 0;
  	position: absolute;
  	width: 1px;
  	word-wrap: normal !important;
}

/* Callout */
.callout {
	*:last-child {
		margin-bottom: 0;
	}
}

.wp-block-media-text,
.wp-block-cover {
	margin-bottom: 16px;
}

.has-background-dim {
	color: FFFFFF;
}
