body {
    &.ld-in-focus-mode {
        background: #f1f1f1 url(../../assets/images/bg_pattern.jpg) !important;

        .learndash-wrapper {
            background: rgba(255, 255, 255, 0) !important;
        }

      
    }
 }

    

.ld-course-status-seg-price {
    display: none;
}

.woocommerce-MyAccount-content {
    .learndash-wrapper {
        .ld-item-list {
            margin-top: 0;
        }
    }
}

/* hide pointless back to course button */
/* .learndash-wrapper .ld-content-actions .ld-content-action .ld-course-step-back {
    display: none !important;
} */

/* center align back to course button */
.ld-course-step-back  {
    display: flex;
    align-items: center;
    padding: .5em 0;
} 


.learndash-course-grid .items-wrapper .grid-2 .content .entry-content {
    padding-bottom: 1.75em;
}

.learndash-course-grid .items-wrapper .grid-2 .ribbon {
    text-shadow: none;
}

/* make course list look nicer */

.ld-item-list {
    .ld-item-list-item {
        border: 1px solid #e2e7ed !important;
    }
} 

.ld-status-icon {
    margin-top:  0 !important;
    border: 1px solid #e2e7ed !important;
}

/* fix ugliness on mobile */
.ld-expand-button {
    max-width: 100% !important;

    @media only screen and (min-width: 768px) {
        max-width: 120px;
    }
}

/*--------------------------------------------------------------
# Learndash course list styles
--------------------------------------------------------------*/
.ce-courses .ld-course-list-content .ld-course-list-items .ld_course_grid article, .ce-courses .ld-course-list-content .ld-course-list-items .ld_course_grid article .caption {
    display: flex;
    flex-direction: column;
    height: 100%;
}
 
.ce-courses .ld-course-list-content .ld-course-list-items .ld_course_grid article .caption {
    padding: 1em 1.25em;
    justify-content: space-between;

    .entry-title {
        font-size: 1.2em;
    }

    .entry-content {
        font-size: .85em;
        color: $ce-grey;
    }

    .ld_course_grid_button {
        padding-top: 1.5em;
    }
}
