@import "./_bscore_colors.scss";  // Collecting Bootstrap source from parent-theme


.tribe-events-l-container {
    padding-top: 2em !important;
    padding-bottom: .5em !important;
}

.tribe-related-event-info {
    padding: 0 1.5em !important;
}

.tribe-events-content {
    a {
        border-bottom: 0 !important;
        color: $ce-mediumblue !important;
    }
}

.tribe-events-c-search__button {
    background-color: $ce-darkblue !important;
}

/* hide svg double arrows which appear alongside a single arrow for some reason */
.tribe-events-c-nav__list-item--prev {
    a[rel="prev"]::before {
        display: none !important;
    }
}

.tribe-events-c-nav__list-item--next {
    a[rel="next"]::after {
        display: none !important;
    }
}

/* fix horizontal overflow on mobile */
.tribe-events-calendar-list__event {
    &.tribe-common-g-row--gutters {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

/* hide event featured image in home page hero block */
.hero-block-container {
    .tribe-events-pro-week-mobile-events__event-featured-image-wrapper {
        display: none !important;
    }
}

/* hide enormous featured image on single event page */
.tribe_events.has-post-thumbnail {
    .tribe-events-event-image {
        display: none !important;
    }
}


/*--------------------------------------------------------------
# Events Tickets customizations
--------------------------------------------------------------*/

//override this style which breaks bootstrap accordion
.accordion-item {
    .accordion-header {
        font-size: inherit !important;
        font-weight: inherit !important;
        padding: 0 !important;
    }

    .accordion-header:before {
        display:none !important;
    }
    .accordion-header:after {
        display:none !important;
    }
      
}

