@import "./_bscore_colors.scss";  // Collecting Bootstrap source from parent-theme


.tribe-events-l-container {
    padding-top: 2em !important;
    padding-bottom: .5em !important;
}

.tribe-related-event-info {
    padding: 0 1.5em !important;
}

.tribe-events-content {
    a {
        border-bottom: 0 !important;
        color: $ce-mediumblue !important;
    }
}

.tribe-events-c-search__button {
    background-color: $ce-darkblue !important;
}

/* hide svg double arrows which appear alongside a single arrow for some reason */
.tribe-events-c-nav__list-item--prev {
    a[rel="prev"]::before {
        display: none !important;
    }
}

.tribe-events-c-nav__list-item--next {
    a[rel="next"]::after {
        display: none !important;
    }
}

/* fix horizontal overflow on mobile */
.tribe-events-calendar-list__event {
    &.tribe-common-g-row--gutters {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}