//https://comicsexperience.com/wp-admin/admin.php?page=cp_timeslotsbooking_settings
#fbuilder  { 
    .ui-datepicker-inline {
        max-width:none !important;
    }

    .slots {
        border: 0px !important;
        box-shadow: none !important;
    }

    .pbSubmit {
        @extend .btn;
        @extend .btn-success;
        background: #3c7f20 !important;
        border: 1px solid #3c7f20 !important;
        color: white !important;

        &:hover { 
            background-color: #336c1b !important;
            border: 1px solid #336c1b !important;
            color: white !important;
        }
    
    }
}

.ui-datepicker {
    box-shadow: none !important;
}

