body {
    &.ld-in-focus-mode {
        background: #f1f1f1 url(../../assets/images/bg_pattern.jpg) !important;

        .learndash-wrapper {
            background: rgba(255, 255, 255, 0) !important;
        }

      
    }
 }

    
.ld-course-status-seg-price {
    display: none;
}

.woocommerce-MyAccount-content {
    .learndash-wrapper {
        .ld-item-list {
            margin-top: 0;
        }
    }
}

/* hide pointless back to course button */
/* .learndash-wrapper .ld-content-actions .ld-content-action .ld-course-step-back {
    display: none !important;
} */

/* center align back to course button */
.ld-course-step-back  {
    display: flex;
    align-items: center;
    padding: .5em 0;
} 


.learndash-course-grid .items-wrapper .grid-2 .content .entry-content {
    padding-bottom: 1.75em;
}

.learndash-course-grid .items-wrapper .grid-2 .ribbon {
    text-shadow: none;
}

/* make course list look nicer */
.ld-item-list {
    .ld-item-list-item {
        border: 1px solid #e2e7ed !important;
    }
} 

.ld-status-icon {
    margin-top:  0 !important;
    border: 1px solid #e2e7ed !important;
}

/* fix ugliness on mobile */
.ld-expand-button {
    max-width: 100% !important;

    @media only screen and (min-width: 768px) {
        max-width: 120px;
    }
}

/* fix issue where button text color was dark gray for some reason */
.learndash-wrapper .ld-button {
    color: white !important;
}

/*--------------------------------------------------------------
# Learndash course list styles
--------------------------------------------------------------*/
/* fix weird issue where scrolling in lesson list sidebar didn't work anymore */
.learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-wrapper {
    overflow: auto !important;
}

.learndash-wrapper .ld-focus .ld-focus-sidebar .ld-course-navigation {
    overflow: auto !important;
}

.ce-courses .ld-course-list-content .ld-course-list-items .ld_course_grid article, .ce-courses .ld-course-list-content .ld-course-list-items .ld_course_grid article .caption {
    display: flex;
    flex-direction: column;
    height: 100%;
}
 
.ce-courses .ld-course-list-content .ld-course-list-items .ld_course_grid article .caption {
    padding: 1em 1.25em;
    //justify-content: space-between;

    .entry-title {
        font-size: 1.2em;
    }

    .entry-content {
        font-size: .85em;
        color: $ce-grey;
        //flex: 1; //make this div fill the available space, pushing button down to bottom of container
    }

    .ld_course_grid_button {
        padding-top: 1.5em;
    }
}

.learndash-course-grid .items-wrapper.grid .item .content {

    .entry-content {
        margin: unset; //prvent description content from center aligning in div and making the overall alignment ugly
    }
   
    .button {
        padding-top: 1em;
    }
}

#ld_course_categorydropdown {
    padding-bottom: 1.5em;

    label {
        font-weight: 700;
        margin-bottom: .25rem;
    }
}
/*--------------------------------------------------------------
# Course Page
--------------------------------------------------------------*/
.learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-name {
   flex: 1 !important;
}

/*--------------------------------------------------------------
# Community Pro Lessons
--------------------------------------------------------------*/
.learndash-shortcode-wrap-course_content-624927_624927_2, .learndash-shortcode-wrap-course_content-625025_625025_2 {
    display: none !important; //hide automatically output course content so I can replace it with the Learndash course grid block
}

/*--------------------------------------------------------------
# Zoom meeting countdown
--------------------------------------------------------------*/
.vczapi-jvb-countdown-content {
    display: none !important;
}

.learndash_post_sfwd-courses .learndash-wrapper .ld-item-list {
    margin-top: 0 !important;
}