/*--------------------------------------------------------------
# ARCHIVE PAGE
--------------------------------------------------------------*/

/* archive page description text */
.archive .woocommerce-product-details__short-description {
  font-size: .75rem; 
}

.woocommerce-products-header__title {
  margin-bottom: 1.5rem;
}

/*--------------------------------------------------------------
# SINGLE PRODUCT PAGE
--------------------------------------------------------------*/
.price {
  margin-top: .25rem;
}

/* reduce awful spacing on woo product variations label text */
.woocommerce div.product form.cart .variations th {
    line-height: 1.3;
    padding-right: .5em;
    text-align: left;
  }  
  
.related {
    padding-top: 1rem;
}

  /*remove redundant title in tab*/
.yikes-custom-woo-tab-title {
    display: none;
  }

/*--------------------------------------------------------------
# BLOCKS
--------------------------------------------------------------*/
  .wp-block-woocommerce-product-template {
    margin-left: 0;
  }