/*--------------------------------------------------------------
# WOOCOMMERCE
--------------------------------------------------------------*/

/* archive page description text */
.archive .woocommerce-product-details__short-description {
  font-size: .75rem; 
}

.woocommerce-products-header__title {
  margin-bottom: 1.5rem;
}

/* single product page price */
.price {
  margin-top: .25rem;
}