.home-page-hero {
    .wc-block-grid__product {
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;

        a {
            color: white;
        }

        a:hover {
            color: $ce-lightblue;
        }
    }
    
}