/*fix footer form spacing */
.site-footer .gform-footer {
    margin-block-start: .75rem !important;
}

/* gutenberg table block */
.wp-block-table td, .wp-block-table th {
  border: 1px solid #dadada;
}

/* format script list items on scripts archive page */
.post-type-archive-script {
  .dynamic-entry-content {
    ul {
      margin-bottom: 0;
    }
  }
}

.podcast_meta {
  font-size: .85rem;
  padding-top: .25rem;
}

