/* hack to address issue with horizontal scroll on WooCommerce variable product pages */
html, body {
    overflow-x: hidden;
}

/*fix footer form spacing */
.site-footer .gform-footer {
    margin-block-start: .75rem !important;
}

/* gutenberg table block */
.wp-block-table td, .wp-block-table th {
  border: 1px solid #dadada;
}

/* format script list items on scripts archive page */
.post-type-archive-script {
  .dynamic-entry-content {
    ul {
      margin-bottom: 0;
    }
  }
}

.podcast_meta {
  font-size: .85rem;
  padding-top: .25rem;
}

.header-image {
  margin-bottom: 0;
}

/* change current menu item color in header */
.main-navigation .main-nav ul li[class*="current-menu-"] > a {
  color: $ce-iceblue;
}

.main-navigation .main-nav ul li:not([class*="current-menu-"]):hover > a, .main-navigation .main-nav ul li:not([class*="current-menu-"]):focus > a, .main-navigation .main-nav ul li.sfHover:not([class*="current-menu-"]) > a, .main-navigation .menu-bar-item:hover > a, .main-navigation .menu-bar-item.sfHover > a  {
    color: $ce-iceblue;
}

/* what the... */
.entry-content .alignwide, body:not(.no-sidebar) .entry-content .alignfull {
  width: 100%;
} 


/* Indent sub menus */
.main-navigation .main-nav ul ul {
  @media (max-width: 900px) {
    padding-left: 1rem;
  }
}