/*--------------------------------------------------------------
# Bootstrap
--------------------------------------------------------------*/
// Required
@import "bootstrap/bootstrap";

//@import "blocks/_testimonials-slider";

$ce-blue: #83d9ff;
$ce-darkblue: #173751;
$ce-mediumblue: #1e80ae;
$ce-lightblue: #4ba2d7;
$ce-iceblue: #6dcefb;
$ce-orange: #edaf1b;
$ce-grey: #b8b7b7;
$ce-lightgrey: #ccc9c9;
$ce-offwhite: #e8e4e4;
$ce-green: #77a464;
$ce-darkgray: #212529;

$theme-colors: (
  "primary": $ce-blue,
  "ce-darkblue": $ce-darkblue,
  "ce-mediumblue": $ce-mediumblue,
  "ce-lightblue": $ce-lightblue,
  "ce-iceblue": $ce-iceblue,
  "ce-orange": $ce-orange,
  "ce-grey": $ce-grey,
  "ce-lightgrey": $ce-lightgrey,
  "ce-offwhite": $ce-offwhite,
  "ce-green": $ce-green,
  "ce-darkgray": $ce-darkgray,
);

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white;
  background-color: $ce-lightblue;
  //border: 1px solid $ce-darkblue;
}

.text-primary {
  color: $ce-lightblue !important;
}

.btn-primary {
  @include button-variant(
    $ce-lightblue,
    darken($ce-lightblue, 7.5%),
    darken($ce-lightblue, 10%),
    lighten($ce-lightblue, 5%),
    lighten($ce-lightblue, 10%),
    darken($ce-lightblue, 30%)
  );
  color: #fff;
}

.btn-info {
  @include button-variant(
    $ce-mediumblue,
    darken($ce-mediumblue, 7.5%),
    darken($ce-mediumblue, 10%),
    lighten($ce-mediumblue, 5%),
    lighten($ce-mediumblue, 10%),
    darken($ce-mediumblue, 30%)
  );
  color: #fff;
}

.btn-outline-primary {
  @include button-outline-variant(
    $ce-mediumblue,
    white,
    lighten($ce-mediumblue, 5%),
    $ce-mediumblue
  );
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

/*--------------------------------------------------------------
# General styles
--------------------------------------------------------------*/

//@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");

//$comic-font: "Architects Daughter", Helvetica, Arial, sans-serif;

body {
  background: #f1f1f1 url(../images/gui/bg_pattern.jpg);
  //background: white;
}

a {
  color: $ce-mediumblue;
  transition: all 0.3s ease;
  cursor: pointer;
}

a:hover {
  pointer-events: auto;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

ul,
ol {
  margin-block-start: 0;
}

.widget ul li a:hover {
  color: $ce-offwhite;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: none;
  }
}

hr {
  height: 0 !important;
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.post-thumbnail img {
  display: block;
  margin: 0 auto 1.5rem;
}


@media (min-width: 768px) {
  .post-thumbnail {
    float: left;
    margin: 0 1.25rem .5rem 0;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header-logo {
  background: white;
}

.navbar-toggler {
  border: 0px;
  padding: 0.25rem 0.25rem;
}

/*--------------------------------------------------------------
# Top Navigation
--------------------------------------------------------------*/
/*for mobile*/
.ce-topnav,
.ce-bottomnav {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}

.andy-community {
  font-size: 0.6em;
  text-transform: uppercase;
}

/* community website text */
.navbar-dark .navbar-text {
  color: white;
}

/* link text */
.navbar-dark .ce-topnav li a,
.navbar-dark .ce-bottomnav li a {
  color: white;
  padding: 0;
  margin: 0 0.85em 0 0.35em;
}

/* change hover color */
.navbar-dark .ce-topnav li a:focus,
.navbar-dark .ce-topnav li a:hover {
  color: $ce-iceblue;
}

.navbar-dark .ce-bottomnav li a:focus,
.navbar-dark .ce-bottomnav li a:hover {
  color: $ce-iceblue;
}

@media (min-width: 500px) {
  .ce-topnav {
    margin-top: 0;
  }

  .andy-community {
    margin-top: 0;
    font-size: 0.75em;
  }
}

@media (min-width: 768px) {
  .ce-topnav {
    flex-direction: inherit;
    margin: 0 0.85em 0 0.35em;
  }
}

/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.ce-title {
  //font-family: $comic-font;
  text-transform: uppercase;
  font-size: 1.4em;
  padding-left: 0.15em;
}

.bg-topnav {
  background: $ce-mediumblue;
}

.bg-mainnav {
  background: $ce-darkblue;
}

.navbar-dark {
  color: white;
}

#menu-main-menu {
  padding-left: .5rem;
}

/* change the link color */
.navbar-dark .nav-item .nav-link {
  color: $ce-iceblue;
  //font-family: $comic-font;
  text-transform: uppercase;
  font-size: 1.1em;
}

/* adjust nav link spacing */
@media (min-width: 768px) {
  #menu-main-menu {
    padding-left: 0;
  }

  .navbar-dark .nav-item .nav-link {
    margin: 0 0.75em;
  }
}

/* change hover color */
.navbar-dark .nav-item .nav-link:focus,
.navbar-dark .nav-item .nav-link:hover {
  color: #f4f8fb;
}

/* remove focus ring in safari on drop-down click */
li:focus-within a {
  outline: none;
}

/* dropdown menu */
.navbar-nav > li > .dropdown-menu {
  /*fix background color*/
  background-color: $ce-darkblue;
  border: 0;
  padding-top: 0;
  margin: 0.5em 0 0 0;
  border-radius: 0;
}

.dropdown-item {
  color: $ce-iceblue;
  padding-left: 0.5em;
}

@media (min-width: 768px) {
  .dropdown-item {
    padding-left: 1em;
  }
}

/*--------------------------------------------------------------
# Home Page
--------------------------------------------------------------*/
@media (min-width: 768px) {
  .stanlee-bg {
    background: $warning url(../images/gui/home-page-testimonial-bg.jpg)
      no-repeat;
    background-size: cover;
  }
}

.homepage-item-card .card-body {
  padding-top: 0.75em;
}

.homepage-item-card .card-footer,
.item-listing .card-footer {
  border-top: 0;
  padding-top: 0;
}

.homepage-title-link a {
  color: black;
}

.homepage-hero {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.hero-description {
  color: $gray-500;
}

.mobile-hero-img {
  border-radius: 0 !important;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.entry-title,
.page-title,
.mentor-name {
  //font-family: $comic-font;
  text-transform: uppercase;
  color: $ce-darkblue;
  line-height: 1em;
  margin: 0.15em 0 0.5em;
}

.mentor-name {
  margin: 0.5rem 0;
}

.entry-meta {
  font-size: 0.85em;
  color: $gray-600;
}

.staff-meta {
  font-size: 0.8em;
  line-height: 1.25em;
}

.course-meta {
  font-size: 0.75em;
  color: $gray-600;
  text-transform: uppercase;
  margin-top: -6px;
}



.project-title {
  font-size: 1.6em;
  font-weight: bold;
  color: #173751;
}

.project-credentials {
  font-size: 0.95em;
  line-height: 1.3em;
  color: #666;
}

.projects-card {
  border: 0px;
}

@media (min-width: 768px) {
  .projects-card {
    border: 1px solid $gray-300;
  }

  .course-meta {
    font-size: 0.8em;
    margin-bottom: 1.55em;
  }
}

.testimonial-title {
  font-size: 1.1em;
  font-weight: bold;
  color: #173751;
}

.testimonial-credentials {
  font-size: 0.9em;
  line-height: 1.3em;
  color: #666;
}

.item-listing .card-title {
  margin-bottom: 0;
}

/* course page */
.instructor,
.people-content,
.course-description-text,
.mentor-container {
  /* prevent floated image from collapsing containing div */
  overflow: auto;
}

/* scripts page */
.scripts ul {
  list-style: none;
  margin-bottom: 0;
  padding-inline-start: 0.75em;
}

.aboutus ul,
.listing-courses-all ul {
  list-style: none;
  margin-bottom: 0;
  padding-inline-start: 0;
}

/* add some space below list items to aid readability */
.tab-pane ol li,
.tab-card ol li,
.tab-pane ul li,
.tab-card ul li {
  margin-bottom: 1rem;
}

.card_course_start {
  margin-top: -1.5em;
}

.paypal-card-footer {
  width: 95%;
}

.podcast-desc-logo {
  max-width: 99%;
  margin-bottom: 1em;
}

.podcast_meta {
  margin-top: 0.75em;
}

.wp-block-quote {
  color: $gray-700;
}

.page-tabs {
  clear: both;
}

/*--------------------------------------------------------------
# Sidebar and Widgets
--------------------------------------------------------------*/

.widgets-blue {
  /*background: $ce-darkblue;*/
  background: $black;
}

.widgets-dark {
  background: black;
}

.courses-area {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}

@media (min-width: 768px) {
  .courses-list-sidebar {
    column-count: 2;
    column-gap: 1.6rem;
  }
}

.courses-area ul,
.widget ul {
  list-style: none;
  margin-bottom: 0;
  padding-inline-start: 0;
  padding-left: 0;
}

.courses-area ul li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.courses-area ul li,
.widget-area ul li {
  line-height: 1.25em;
}

.courses-area ul a,
.widget ul a {
  color: white;
}

.widget-title {
  //font-family: $comic-font;
  //text-transform: uppercase;
  color: white;
  font-size: 1.5em;
  margin-bottom: 0.75em;
}

.widget-meta,
.post-date {
  font-size: 0.75em;
  display: block;
  color: $warning;
  margin: 0 0 0.75em 0;
}

.widget-nodata {
  color: $warning;
}

.vip-bundle-card-title {
  font-size: .85em;
}

.vip-bundle-course-meta {
  font-size: 0.6em;
  line-height: 1.25em;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer a {
  color: $ce-iceblue;
}

.copyright-container p,
.community-links p {
  color: white;
  font-size: 0.85em;
  line-height: 1.4em;
  padding-top: 1.2em;
}

.community-links-separator {
  color: #19698f;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.btn-courselisting {
  border-radius: 0 0 0.25rem 0.25rem;
}

.btn-link {
  text-decoration: none;
}

.btn-link:hover {
  border: 1px solid rgba(255, 255, 255, 0);
}

/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
.nav-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5em;
}

.nav-item-icon .feather {
  margin-top: -2px;
}

.feather {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.workshop-icons {
  width: 60px;
  height: 60px;
  stroke-width: 1;
  margin-bottom: 1em;
}

/*--------------------------------------------------------------
# User Agreement
--------------------------------------------------------------*/

.user-agreement {
  h3,
  h4 {
    font-size: 1.25em;
  }

  ul {
    margin-bottom: 1em;
  }
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

@media (min-width: 768px) {
  .book-ad-container .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
  }
}

/*--------------------------------------------------------------
# Constant Contact
--------------------------------------------------------------*/

.ctct-submit {
  padding-bottom: 0.7em !important;
}

.ctct-text,
.ctct-email {
  width: 100%;
}

/*--------------------------------------------------------------
# Gravity Forms
--------------------------------------------------------------*/
.gform_wrapper form {
  margin-bottom: 0;
}

.gform_wrapper ul {
  @extend .list-unstyled;
}

.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: $danger;
}

.gform_wrapper input[type="email"],
.gform_wrapper input[type="date"],
.gform_wrapper input[type="datetime"],
.gform_wrapper input[type="datetime-local"],
.gform_wrapper input[type="month"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="search"],
.gform_wrapper input[type="tel"],
.gform_wrapper input[type="text"],
.gform_wrapper input[type="time"],
.gform_wrapper input[type="week"],
.gform_wrapper input[type="url"],
.gform_wrapper select,
.gform_wrapper textarea {
  @extend .form-control;
}

.gform_wrapper .button {
  @extend .btn;
  @extend .btn-primary;
}

.gform_wrapper .gfield_error {
  .gfield_label {
    @extend .alert-danger;
  }

  input,
  select,
  textarea {
    @extend .alert-danger;
  }
}

.validation_error {
  @extend .alert;
  @extend .alert-danger;
}

.validation_message {
  display: none;
}

.ginput_container {
  display: flex;
  justify-content: space-between;
}

.name_first,
.name_last {
  width: 48%;
}

/*--------------------------------------------------------------
# WooCommerce Single Product Pages
--------------------------------------------------------------*/

/* fix onsale badge displaying where it doesn't belong */
.wcosm_soldout {
  display: none !important;
}


/*fix too much spacing in layout */
@media only screen and (min-width: 768px) {
 /* also fix ipad layout here */
  .woocommerce #content div.product div.images,
  .woocommerce div.product div.images,
  .woocommerce-page #content div.product div.images,
  .woocommerce-page div.product div.images {
    float: left;
    clear: none;
    width: 48%;
  }

  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary {
    float: right;
    clear: none;
    width: 48%;
  }
}

@media only screen and (min-width: 1024px) {
  .woocommerce #content div.product div.images,
  .woocommerce div.product div.images,
  .woocommerce-page #content div.product div.images,
  .woocommerce-page div.product div.images {
    width: 49%;
  }

  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary {
    width: 49%;
  }
}

/*remove redundant title in tab*/
.woocommerce-Tabs-panel h2 {
  display: none;
}

h2.yikes-custom-woo-tab-title {
  display: none;
}

/* reduce space below product image */
.woocommerce div.product div.images {
  margin-bottom: 1.25em;
}

/*add padding to button*/
.woocommerce div.product form.cart .button {
  background-color: $ce-green;
  padding: 1em 1.5em;
}

.woocommerce div.product form.cart .button:hover {
  background-color: #00bff3;
}

/* up sells cross sells */
.up-sells h2,
.cross-sells h2,
.related h2 {
  margin-bottom: 1em;
}

.related {
  clear: both;
  margin-top: 0.5em;
}

/* course bundle offer stuff */
.course-bundle {
  clear: both;
}

@media only screen and (min-width: 800px) {
  .woocommerce div.product div.summary {
    margin-bottom: 0;
  }
}

/*--------------------------------------------------------------
# WooCommerce Archive Pages
--------------------------------------------------------------*/
/* make sale badge round */
.woocommerce span.onsale {
  padding: 0;
  left: 0.5em;
}

.course-listing {
  list-style: none;
}

/* fix huge bottom margins on desktop */
@media only screen and (min-width: 800px) {
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    margin-bottom: 0em !important;
  }

  .woocommerce span.onsale {
    left: -0.5em;
  }
}

/* button styles */
.woocommerce a.button {
  background-color: $ce-green;
  color: #fff;
}

.woocommerce a.button:hover {
  background-color: #00bff3;
  color: #fff;
}

/* fixed height for product titles to help alignment*/
.woocommerce-loop-product__title {
  min-height: 55px !important;
}

.course-length,
.wooarchive-description {
  color: $ce-darkgray;
}

.wooarchive-description {
  font-size: 0.95em;
  min-height: 150px !important;
}

/* make quantity field height line up better with Add to Cart button */
.qty {
  line-height: 1.9em;
}

/* add some spacing to added message after user adds an item to cart  */
.added_to_cart {
  margin-left: 0.75em;
}

/*--------------------------------------------------------------
# WooCommerce Checkout Page
--------------------------------------------------------------*/

#order_review_heading {
  margin: 0.6em 0 0.5em;
}

